{% load staticfiles %} 
	<h2 class="blind">고객문의 전화</h2>
    <div class="customer">
		<p class="customerText"><img src="{% static "/img/tel_no0.png" %}" alt="고객문의전화" />
			<span class="return">070-4138-5969</span>
			<span class="return"><img src="{% static "/img/tel_no2.png" %}" alt="상담시간 평일 9시 부터 18시까지 토.일요일 공휴일은 휴무입니다." /></span></p>
	</div>
	<h2 class="blind">배너</h2>
	<div class="bannerBox">
		<p class="leftBanner0"><a href="http://nuri.g2b.go.kr" target="_blank">
			<img src="{% static "img/left_banner_0.jpg" %}" alt="누리장터바로가기" /></a></p>
        <p class="leftBanner1"><a href="http://www.k-apt.go.kr" target="_blank">
			<img src="{% static "img/left_banner_1.jpg" %}" alt="한국감정원바로가기" /></a></p>
	</div>