<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="nofollow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="nofollow" />
{% load staticfiles %}
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jymStyle.js" %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery-1.9.1.min.js" %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery.corner.js"  %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery.magnific-popup.js" %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery.popupWindow.js" %}"  />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery.form.js"  %}"/>
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/jquery.cookie.js" %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/prefixfree.jquery.js" %}" />
<link rel="stylesheet" type="text/javascript" src="{% static "scripts/mystyle.js"  %}"/>
