<div class="privacyBox">
	<div class="privercy">
		<p class="privacyH1Text"><span class="bold">관리회사 선정, 물품구매,공사용역 및 각종 용역의 전자적 입찰서비스를 제공합니다.</span></p><br />
		<p class="h2Text"><img src="{% static "img/ebid.gif" %}" alt="" /></p>
		<p class="h2Text">전자입찰은 입찰하고자 하는 사람이 입찰장을 방문할 필요없이, 인터넷에 접속해 발주처의 입찰에 참여할 수 있는 것. 즉 입찰에 참여하는 업체가 입찰시행처에 직접가지 않고 사무실 등에서 인터넷을 통해 발주처 홈페이지에 게시된 공고건을 검색하고 입찰에 참고하고자 하는 공고건에 대해 전자로 입찰참여 업무를 수행하는 것입니다.<span class="return">입찰의 법적 효력과 안정성을 확보하기 위해 공인인증을 이용하며, 입찰공고에서부터 입찰일시, 적격대상자선정, 낙찰자 선정에 이르기까지 모든 과정을 인터넷에서 확인하면서 업무를 진행할 수 있습니다.</span></p>
		<h3 class="title">국토교통부 고시 제2013-854호 “주택관리업자 및 사업자선정지침“</h3>
		<h4 class="title">제28조의 2 (전자입찰시스템)</h4>
		<p class="h4Text">① 영 제52조제7항 및 제8항, 영 제55조의 4, 제3항에 따라 전자입찰방식으로 주택관리업자나 용역, 공사 등의 사업자를 &nbsp &nbsp &nbsp&nbsp선정하는 경우에는 다음 각 호의 전자입찰시스템을 이용한다.</p>
		<ul class="h4Text">
			<li>제7조의 공동주택관리정보시스템에서 제공하는 전자입찰시스템(제6조의 낙찰의 방법 중 최저(최고)낙찰제에 한한다)</li>
			<li>“전자조달의 이용 및 촉진에 관한 법률＂에 의한 전자입찰시스템</li>
			<li>민간이 운영하는 전자입찰시스템</li>
		</ul>
		<p class="h4Text">② 제1항 제2호 및 제3호의 전자입찰시스템 이용은 해당 시스템 매뉴얼 등에 따른다.</p>
		<h4 class="title">제28조의3(입찰업체의 응찰)</h4>
		<p class="h4Text">① 입찰업체가 제28조의2 제1항 제1호에 따른 전자입찰시스템을 이용하여 응찰하기 위해서는 사전에 전자입찰시스템에 &nbsp  &nbsp &nbsp&nbsp업체정보를 입력하고 공인인증서를 등록하여야 하며, 응찰할 때마다 등록된 공인인증서를 사용하여야 한다.<span class="return">② 입찰업체는 입찰관계서류, 입증서류 등을 입찰공고문에서 정하는 기한내에 제출하여야 한다.</span></p>
	</div>
</div>