	<dev class="sitemap">
		<input id="first" type="radio" name="tab" checked="checked" />
		<input id="second" type="radio" name="tab" />
		<input id="third" type="radio" name="tab" />
		<section class="buttons">
			<label for="first">회사소개</label>
			<label for="second">서비스소개</label>
			<label for="third">고객센터</label>
		</section>
		<div class="tab_item">
			<ul>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'eintro' %}"><strong>회사소개</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'estory' %}"><strong>회사연혁</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'emap' %}"><strong>찾아오는 길</strong></a></div>
				</a></li>				
			</ul>
		</div>
		<div class="tab_item">
			<ul>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'ebid' %}"><strong>전자입찰 서비스</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'epms' %}"><strong>공사관리 서비스</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'emro' %}"><strong>구매대행 서비스</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'evote' %}"><strong>전자투표 서비스</strong></a></div>					
				</a></li>
			</ul>
		</div>
		<div class="tab_item">
			<ul> 
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'notice:index' %}"><strong>TMS:공지사항</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'qna:index' %}"><strong>TMS:문의하기</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'faq:index' %}"><strong>TMS:잦은질문</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'refer:index' %}"><strong>TMS:자료실</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'eintro' %}"><strong>회사소개</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'estory' %}"><strong>회사연혁</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'emap' %}"><strong>찾아오는 길</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'eprivacy' %}"><strong>개인정보취급방침</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'eagree' %}"><strong>이용약관</strong></a></div>
				</a></li>
				<li class="item"><a href="#">
					<div class="description"><a href="{% url 'esite' %}"><strong>사이트 맵</strong></a></div>
				</a></li> 
			</ul>
		</div>
	</div>