<div class="useBox">
	<div class="useLaw">
		<h3 class="useTitle">회사 연혁</h3>
		<h4 class="useTitle">2016년</h4>
			<ul class="useH4Text">
				<li>08.31 : HUMAN Switch의 IoT Device화 요건 정의 컨설팅 수행 완료 및 개발 감리 착수</li>
				<li>07.31 : 개발 프로젝트 &quot;업무 분석 및 설계단계&quot; 완료</li>
				<li>06.01 : 공동주택 종합관리 시스템(PHTMS : Public House Total Management System) 개발 Project 착수</li>
				<li>04.29 : 특허 등록 &quot;전자입찰 시스템&quot; (등록번호 : 10-1618710)</li>
				<li>03.23 : 특허 출원(&quot;지오펜싱기술 기반 안내 시스템 및 방법&quot;)</li>
				<li>03.23 : 특허 출원(&quot;디지털 지도에 지오펜스를 설정하는 시스템 및 방법&quot;)</li>

			</ul>
		<h4 class="useTitle">2015년</h4>
			<ul class="useH4Text">
				<li>12.25 : HUMAN Switch 구동 Firmware 업그레이드 프로젝트 수주</li>
				<li>05.29 : 특허 출원(우선권 주장 재출원 - &quot;최적제안을 추출하는 기능이 포함된 전자입찰시스템 및 방법&quot;</li>
				<li>04.01 : CI &amp; Homepage시스템 개발 (홍보용)</li>
				<li>01.05 : 자동절전 스위치 동작을 위한 S/W 개발 프로젝트 수주</li>
				<li>05.29 : 특허 출원(&quot;최적제안을 추출하는 기능이 포함된 전자입찰시스템 및 방법&quot;</li>
			</ul>
		
		<h4 class="useTitle">2014년</h4>
			<ul class="useH4Text">
				<li>01.28 : 특허 양도 (&quot; 선박운항 최적화 시스템 및 이를 이용한 선박운항 최적화 제어방법&quot;) (등록번호 : 10-0981945)</li>
			</ul>
		
		<h4 class="useTitle">2013년</h4>
			<ul class="useH4Text">
				<li>07.26 : 특허 등록 &quot;담보물 관제 시스템 및 방법&quot; (등록번호 : 10-1288268)</li>
			</ul>
			
		<h4 class="useTitle">2012년</h4>
			<ul class="useH4Text">
				<li>12.19 : 특허 출원(&quot;담보물 관제 시스템 및 방법&quot);</li>
				<li>12.05 : 중소 제조업 ERP 시스템 구축 컨설팅 계약 수주 (반월공단 S 고무 외 3개사</li>
			</ul>
		<h4 class="useTitle">2011년</h4>
			<ul class="useH4Text">
				<li>12.31 : 선박운항 최적화 시스템  양도 </li></li>
			</ul>
		<h4 class="useTitle">2010년</h4>
			<ul class="useH4Text">
				<li>12.31 : 선박운항 최적화 시스템 개발 완료 </li>
				<li>08.27 : 특허 양도(&quot; 선박운항 최적화 시스템 및 이를 이용한 선박운항 최적화 제어방법&quot;) (등록번호 : 10-0981945)</li>
				<li>02.08 : 특허 출원(&quot; 선박운항 최적화 시스템 및 이를 이용한 선박운항 최적화 제어방법&quot;)</li>
			</ul>
		<h4 class="useTitle">2009년</h4>
			<ul class="useH4Text">
				<li>09.30 : 벤처기업 인증 획득</li>
				<li>09.02 : 법인설립(1인 이사)</li>
			</ul>

  </div>
</div>