<div class="privacyBox">
  <div class="privercy">
		<p class="privacyH1Text"><span class="bold">동대표, 입주자회의 대표 및 감사 선출, 중요 의사결정을 위한 찬.반등 전자투표서비스를 제공합니다.</span></p><br /><br />
		<p class="h2Text"><img src="{% static "img/evote.gif" %}" alt="" /></p>
		<p class="h2Text">주주가 주총장에 출석하지 않고도 인터넷에 접속해 특정 안건에 찬반을 클릭하는 방식으로 의결권을 행사하는 방식을 말하며 기업이 예탁결제원과 계약을 맺어 전자투표시스템에 주총의 의안과 의안별 자료, 의결권 제한 등의 내용을 올리면 주주들은 주총이 열리기 하루 전까지 온라인으로 투표할 수 있습니다. 또한, 기업은 이 결과를 통보받아 오프라인 주총 결과와 합산한 최종 결과를 시스템에 등록하고, 주주들은 온라인에서 결과를 조회할 수 있습니다.</p>
		<p class="h2Text">미국, 영국, 일본 등 선진국 기업들은 2000년대 초부터 주주 중시 경영, 기업경영의 정보기술화 등을 위해 전자투표제를 도입한 바가 있습니다.<span class="return">한편, 전자투표 방식은 2000년 제16대 국회부터 도입돼 국회 표결방식으로 사용되고 있습니다.</span></p>
		<p class="h2Text">국토교통부에서 2013.12.24일 개정한 주택법에 의하면 동별 대표자 선거 또는 공동주택 중요의사 결정시 입주민의 참여를 활성화하기 위하여 전자투표제를 도입하기로 하였습니다.</p>
	</div>
</div>